<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Achievements</title>
    <link rel="icon"  href="../static/images/190050110.jpg">
	<link rel="stylesheet" href="../static/stylesheets/achievements.css">
    <link rel="stylesheet" href="../static/stylesheets/responsive.css">
    <link rel="stylesheet" href="../static/stylesheets/utilities.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1350801982957185"
     crossorigin="anonymous"></script>
   </head>
  <body>
  <div id="container-0f8d65c775d1f098fb3151e2ebdbadac"></div>
  <nav>
       <a href="/home" class="logo">Potluri Krishna Priyatham</a>
       <ul>
          <li><a href="/home" >Home</a></li>
          <li><a href="/about" >About</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/achievements" >Achievements</a></li>
           <li><a href="/contact" >Contact</a></li>
           <li><a href="/projects" >Projects</a></li>
           <li><a href="/blog" >Blog</a></li>
        </ul>
  </nav>
  <div class="slides-container container grid p-4">
  <div class="slide" id="KLU"><img src="../static/images/achievements_pics/KLU.jpg" alt=""></div>
  <br>
  <br>
  <div class="slide" id="inter"><img src="../static/images/achievements_pics/inter.jpg" alt=""></div>
  <br>
  <br>
  <div class="slide" id="school"><img src="../static/images/achievements_pics/school.jpg" alt=""></div>
  <br>
  <br>
  <div class="slide" id="is"><img src="../static/images/achievements_pics/is.jpg" alt=""></div>
  <br>
  <br>
  <div class="slide" id="isp"><img src="../static/images/achievements_pics/isp.png" alt=""></div>
  <br>
  <br>
  <div class="slide" id="C"><img src="../static/images/achievements_pics/c(advanced).png" alt=" "></div>
  <br>
  <br>
  <div class="slide" id="java"><img src="../static/images/achievements_pics/java.jpg" alt=""></div>
  <br>
  <br>
  <div class="slide" id="python"><img src="../static/images/achievements_pics/python.png" alt=""></div>
  <br>
  <br>
  <div class="slide" id="html"><img src="../static/images/achievements_pics/html.png" alt=""></div>
  <br>
  <br>
  <div class="slide" id="css"><img src="../static/images/achievements_pics/css.png" alt=""></div>
  <br>
  <br>
  <div class="slide" id="js"><img src="../static/images/achievements_pics/js.png" alt=""></div>
  <br>
  <br>
  <div class="slide" id="sql"><img src="../static/images/achievements_pics/mysql.jpg" alt=""></div>
  <br>
  <br>
  <div class="slide" id="AWS"><img src="../static/images/achievements_pics/AWS.png" alt=""></div>
  </div>
  <footer>
        <p>All Rights Reserved</p>
        <br class="footer">
        <br class="footer">
        <p class="copyright">&copy; 2022 Potluri Krishna Priyatham</p>
    </footer>
  <script async="async" data-cfasync="false" src="//skidgleambrand.com/0f8d65c775d1f098fb3151e2ebdbadac/invoke.js"></script>
  <div id="container-0f8d65c775d1f098fb3151e2ebdbadac"></div>
  </body>
</html>
