<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact Me</title>
    <link rel="icon"  href="../static/images/190050110.jpg">
	<link rel="stylesheet" href="../static/stylesheets/contact.css">
    
    
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="../static/stylesheets/darkmode.css">
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <script src="../static/js/darkmode.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1350801982957185"
     crossorigin="anonymous"></script>
   </head>
  <body>
  <div id="container-0f8d65c775d1f098fb3151e2ebdbadac"></div>
  <nav>
       <a href="/home" class="logo">Potluri Krishna Priyatham</a>
       <ul>
          <li><a href="/home" >Home</a></li>
          <li><a href="/about" >About</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/achievements" >Achievements</a></li>
           <li><a href="/contact" >Contact</a></li>
           <li><a href="/projects" >Projects</a></li>
           <li><a href="/blog" >Blog</a></li>
           <li><button id="dark-mode-toggle" class="dark-mode-toggle" aria-label="Toggle Dark Mode">
               <i class="fas fa-moon"></i>
             </button></li>
        </ul>
  </nav>
  <div class="about-container" id ="about">
      <div class="about-inner-container">
        <div class="about-header">
            <h1>Potluri Krishna Priyatham</h1>
        </div>
        <div class="about-text">
            <br><a style="color: black" href="mailto:kittu.priyatham@gmail.com"><img alt="mail" style="height: 5%;width: 5%"  src="../static/images/icons/gmail.gif"/>      Mail :  kittu.priyatham@gmail.com</a> <br>
            <br><a style="color: black" href="https://www.linkedin.com/in/krishna-priyatham-potluri/"><img alt="linkedin" style="height: 7%;width: 7%"  src="../static/images/icons/linkd.png"/>      Linkedin :  krishna-priyatham-potluri</a> <br>
            <br><a style="color: black" href="https://github.com/kittupriyatham"><img alt="github" style="height: 5%;width: 5%"  src="../static/images/icons/gitub.png"/>      Github :  kittupriyatham</a> <br>
            <br><a style="color: black" href="https://api.whatsapp.com/send/?phone=%2B919938796990&text&app_absent=0"><img alt="whatsapp" style="height: 5%;width: 5%"  src="../static/images/icons/whatsapp.jpg"/>   Whatsapp :  9938796990</a> <br>
            <br><a style="color: black" href="https://www.facebook.com/KrishnaPriyathamPotluri"><img alt="facebook" style="height: 5%;width: 5%"  src="../static/images/icons/faceb.png"/>      Facebook :  KrishnaPriyathamPotluri</a> <br>
            <br><a style="color: black" href="https://www.instagram.com/krishna_priyatham_potluri/"><img alt="instagram" style="height: 5%;width: 5%"  src="../static/images/icons/insta.png"/>      Instagram :  krishna_priyatham_potluri</a> <br>
            <br><a style="color: black" href="https://twitter.com/kittupriyatham"><img alt="twitter" style="height: 5%;width: 5%"  src="../static/images/icons/twit.png"/>      Twitter :  kittupriyatham</a> <br>
        </div>
        </div>
      <img class="about-container-img" alt="my pic" src="../static/images/190050110.jpg" style="height: 300px;width: 300px"/>
  </div>
  <footer>
        <p>All Rights Reserved</p>
        <br class="footer">
        <br class="footer">
        <p class="copyright">&copy; 2022 Potluri Krishna Priyatham</p>
    </footer>
  <script async="async" data-cfasync="false" src="//skidgleambrand.com/0f8d65c775d1f098fb3151e2ebdbadac/invoke.js"></script>
  <div id="container-0f8d65c775d1f098fb3151e2ebdbadac"></div>
  </body>
</html>

