<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact Me</title>
    <link rel="icon"  href="../static/images/190050110.jpg">
	<link rel="stylesheet" href="../static/stylesheets/contact.css">
    
    
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="../static/stylesheets/darkmode.css">
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <script src="../static/js/darkmode.js"></script>
   </head>
  <body>
  <nav>
       <a href="/home" class="logo">Potluri Krishna Priyatham</a>
       <ul>
          <li><a href="/home" >Home</a></li>
          <li><a href="/about" >About</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/achievements" >Achievements</a></li>
           <li><a href="/contact" >Contact</a></li>
           <li><a href="/projects" >Projects</a></li>
           <!-- <li><a href="/blog" >Blog</a></li> -->
           <li><button id="dark-mode-toggle" class="dark-mode-toggle" aria-label="Toggle Dark Mode">
               <i class="fas fa-moon"></i>
             </button></li>
        </ul>
  </nav>
  <div class="contact-wrapper p-4">
    <div class="contact-left">
      <img class="contact-profile-img" alt="Potluri Krishna Priyatham" src="../static/images/190050110.png"/>
      <div class="contact-header">
        <h1>Let's Connect</h1>
        <p>I'm always open to discussing tech, new projects, creative ideas, or opportunities to be part of your vision.</p>
      </div>
    </div>
    
    <div class="contact-right">
      <div class="contact-grid">
        <a href="mailto:kittu.priyatham@gmail.com" class="contact-card">
          <i class="fas fa-envelope contact-icon icon-mail"></i>
          <div class="contact-info">
            <h3>Email</h3>
            <p>kittu.priyatham@gmail.com</p>
          </div>
        </a>
        
        <a href="https://www.linkedin.com/in/krishna-priyatham-potluri/" class="contact-card" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin contact-icon icon-linkedin"></i>
          <div class="contact-info">
            <h3>LinkedIn</h3>
            <p>krishna-priyatham-potluri</p>
          </div>
        </a>
        
        <a href="https://github.com/kittupriyatham" class="contact-card" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github contact-icon icon-github"></i>
          <div class="contact-info">
            <h3>GitHub</h3>
            <p>kittupriyatham</p>
          </div>
        </a>
        
        <a href="https://api.whatsapp.com/send/?phone=%2B919938796990&text&app_absent=0" class="contact-card" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-whatsapp contact-icon icon-whatsapp"></i>
          <div class="contact-info">
            <h3>WhatsApp</h3>
            <p>+91 9938796990</p>
          </div>
        </a>
        
        <a href="https://www.facebook.com/KrishnaPriyathamPotluri" class="contact-card" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-facebook contact-icon icon-facebook"></i>
          <div class="contact-info">
            <h3>Facebook</h3>
            <p>KrishnaPriyathamPotluri</p>
          </div>
        </a>
        
        <a href="https://www.instagram.com/krishna_priyatham_potluri/" class="contact-card" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram contact-icon icon-instagram"></i>
          <div class="contact-info">
            <h3>Instagram</h3>
            <p>krishna_priyatham_potluri</p>
          </div>
        </a>
        
        <a href="https://twitter.com/kittupriyatham" class="contact-card span-2" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter contact-icon icon-twitter"></i>
          <div class="contact-info">
            <h3>Twitter</h3>
            <p>kittupriyatham</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <footer>
        <p>All Rights Reserved</p>
        <br class="footer">
        <br class="footer">
        <p class="copyright">&copy; 2022 Potluri Krishna Priyatham</p>
    </footer>
  </body>
</html>

