<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }} | Potluri Krishna Priyatham</title>
    <link rel="icon" href="../static/images/190050110.png">
    <link rel="stylesheet" href="../static/stylesheets/creo.css">
    <link rel="stylesheet" href="../static/stylesheets/darkmode.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins:wght@400;600;700&display=swap' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <script src="../static/js/darkmode.js"></script>
  </head>
  <body>
    <nav>
      <a href="/home" class="logo">Potluri Krishna Priyatham</a>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/achievements">Achievements</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/projects">Projects</a></li>
        <li>
          <button id="dark-mode-toggle" class="dark-mode-toggle" aria-label="Toggle Dark Mode" title="Toggle Dark Mode">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
          </button>
        </li>
      </ul>
    </nav>

    <div class="creo-wrapper">
      <div class="creo-header">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
      </div>
      <div class="creo-card">
        <iframe class="creo-iframe" title="{{ title }}" src="{{ model_url }}" allowfullscreen></iframe>
        <a class="creo-download" href="/static/stl%20files/revolverassembly.stl" download="revolverassembly.stl">Download Model</a>
      </div>
    </div>

    <footer>
      <p>All Rights Reserved</p>
      <p class="copyright">&copy; 2022 Potluri Krishna Priyatham</p>
    </footer>
  </body>
</html>
