<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potluri Krishna Priyatham</title>
    <link rel="icon" href="../static/images/190050110.jpg">
    <link rel="stylesheet" href="../static/stylesheets/index.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <script async="async" data-cfasync="false"
        src="//skidgleambrand.com/0f8d65c775d1f098fb3151e2ebdbadac/invoke.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1350801982957185"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="container-0f8d65c775d1f098fb3151e2ebdbadac"></div>
    <nav>
        <a href="/home" class="logo">Potluri Krishna Priyatham</a>
        <input type="checkbox" id="click" class="menu-check-box">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars menu-img"></i>
        </label>
        <ul class="menu-entries">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/achievements">Achievements</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="text-container">
        <p>Hello</p>
        <p>I'm Potluri Krishna Priyatham</p>
        <p>An aspiring Data Scientist and Quantum Computing Enthusiast</p>
    </div>
    <div class="about-container" id="about">
        <!--img-->
        <img src="../static/images/190050110.jpg" alt="mypic" />
        <!--about-me-text-->
        <div class="about-text">
            <p>About Me</p>
            <p>Hello, I am Potluri Krishna Priyatham</p>
            <p>I am a CSE undergraduate having an interest in diverse fields</p>
            <p>like Data Science, AI, Cloud Computing, Quantum Science etc.</p>
            <p>and in some engineering applications like drone building,</p>
            <p>Robot making, IoT, 3D printing, etc. and many more.</p>
            <p>I have learnt C, Java, Python. I am well proficient in English,</p>
            <p>and I believe and am confident of myself.</p>
            <p>#OpenForInternships.</p>
            <br>
            <a class="view-me" href="/about">More About Me</a>
        </div> <br>
    </div>
    <div class="services">
        <!--text-->
        <div class="services-text">
            <p>Latest Blog Posts</p>
        </div>
        <div class="box-container">
            <!--1------------->
            <a style="text-decoration:none" target="_blank"
                href="https://www.linkedin.com/pulse/python-r-what-should-you-choose-krishna-priyatham-potluri-">
                <div class="box-1"></div>
            </a>
            <!--2------------->
            <a style="text-decoration:none" target="_blank"
                href="https://www.linkedin.com/pulse/sbt-krishna-priyatham-potluri-">
                <div class="box-2"></div>
            </a>
            <!--3------------->
            <a style="text-decoration:none" target="_blank"
                href="https://www.linkedin.com/posts/krishna-priyatham-potluri_data-science-life-cycle-activity-6923168639437217792-RV1m?utm_source=linkedin_share&utm_medium=member_desktop_web">
                <div class="box-3"></div>
            </a>
        </div>
        <a class="view-me" href="/blog">View All</a>
    </div>
    <div class="services2">
        <!--text-->
        <div class="services-text">
            <p>Latest Projects</p>
        </div>
        <div class="box-container">
            <!--1------------->
            <a style="text-decoration:none" target="_blank"
                href="https://github.com/kittupriyatham/Machine-Learning-Model-Deployment">
                <div class="box-1 box-21"></div>
            </a>
            <!--2------------->
            <a style="text-decoration:none" target="_blank"
                href="https://github.com/kittupriyatham/Academic-Projects/tree/main/3D-Modelling">
                <div class="box-2 box-22"></div>
            </a>
            <!--3------------->
            <a style="text-decoration:none" target="_blank"
                href="https://github.com/kittupriyatham/Academic-Projects/tree/main/Array-Manipulation-C">
                <div class="box-3 box-23"></div>
            </a>
        </div>
        <a class="view-me" href="/projects">View All</a>
    </div>
    <!--footer--------------->
    <footer>
        <p>All Rights Reserved</p>
        <br class="footer">
        <br class="footer">
        <p class="copyright">&copy; 2022 Potluri Krishna Priyatham</p>
    </footer>
    <script async="async" data-cfasync="false"
        src="//skidgleambrand.com/0f8d65c775d1f098fb3151e2ebdbadac/invoke.js"></script>
    <div id="container-0f8d65c775d1f098fb3151e2ebdbadac"></div>
</body>

</html>