<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Krishna Priyatham Potluri</title>
    <link rel="icon"  href="../static/images/achievements_pics/favicon.io.png">
    <link rel="stylesheet" href="../static/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

  </head>
  <body>
    <section>
      <nav>
        <a href="/home" class="logo">Krishna Priyatham Potluri</a>
        <ul>
          <li><a href="/home" >Home</a></li>
            <li><a href="/blog" >Blog</a></li>
          <li><a href="#about" >About</a></li>
          <li><a href="/skills" >Skills</a></li>
          <li><a href="/resume" >Resume</a></li>
          <li><a href="/achievements" >Achievements</a></li>
          <li><a href="/projects" >Projects</a></li>
          <li><a href="/contact" >Contact</a></li>
        </ul>

        </nav>
        <div class = "text-container">
          <p>Hello</p>
          <p>I'm Krishna Priyatham Potluri</p>
          <p>An aspiring Data Scientist and Quantum Computing enthusiast</p>
          </div>
{#          <img alt="model" class="model" src="../static/images/mee.jpg">#}
        </section>

          <div class="about-container" id ="about">
<!--img-->
           <img src="../static/images/baby.jpg" alt="mypic"/>
<!--about-me-text-->
              <div class="about-text">
              <p>About Me</p>
              <p>Hello,My name is Krishna Priyatham Potluri</p>
              <p>I am a tech enthusiastic ,self-motivated, determinant kind of person</p>
              <p>keeps my eye on learning and learning until I become expert , love  </p>
              <p>to learn everyday. I am an undergraduate computer science student </p>
              <p>studying b tech in KL University ,I am good at my communication, </p>
              <p>problem solving ,content writing and I always maintain my inter </p>
              <p>personal skills up to the mark ,I always fight with me every  </p>
              <p>single day to be the best version of myself </p>
              </div>
              </div>

              <div class="services ">
  <!--text-->
  <div class="services-text ">
<p>Latest Blog Posts</p>
    </div>
  <div class="box-container">
  <!--1------------->
    <div class="box-1">
    <span><a style ="text-decoration:none" href="https://tharanivadde247.medium.com/complete-tutorial-about-git-github-and-version-control-470825d3ba27">1</a></span>
    </div>
   <!--2------------->
    <div class="box-2">
    <span><a  style ="text-decoration:none" href="https://tharanivadde247.medium.com/ever-green-trending-technologies-all-the-time-136f2be34f02">2</a></span>
    </div>
  <!--3------------->
    <div class="box-3">
    <span><a  style ="text-decoration:none" href="https://tharanivadde247.medium.com/how-to-make-most-out-of-tech-with-zero-investment-4c23fbca35f6">3</a></span>
    </div>
  </div>
</div>
<!--if you have any project in your mind contact me-->

<div class="contact-me" id="contact">
  <p>Do you want to hire me?</p>
    <div>
        <b><a style="color: white" href="/contact">Hire me</a></b> &emsp;&emsp;&emsp;&emsp;&emsp; <b><a style="color: white" href="/resume"> Resume</a></b>
    </div>
</div>
<!--footer--------------->
<footer>
<!--social-->
<div>
<div class="social-icons">
<a href="https://github.com/tharani247"><i class="fab fa-github"></i></a>
<a href="https://twitter.com/tharani247"><i class="fab fa-twitter"></i></a>
<a href="https://www.instagram.com/vadde_tarani/"><i class="fab fa-instagram"></i></a>
<a href="https://www.linkedin.com/in/tharanivadde/"><i class="fab fa-linkedin"></i></a>
</div>
 <!--copyright-->
 <p class="copyright">Copyright by @Krishna Priyatham Potluri</p></div>
</footer>
{#<!--social-attach-bar-->#}
{#<div class="social">#}
{#<a href="https://github.com/tharani247"><i class="fab fa-github"></i></a>#}
{#<a href="https://twitter.com/tharani247"><i class="fab fa-twitter"></i></a>#}
{#<a href="https://www.instagram.com/vadde_tarani/"><i class="fab fa-instagram"></i></a>#}
{#<a href="https://www.linkedin.com/in/tharanivadde/"><i class="fab fa-linkedin"></i></a>#}
{#</div>#}
  </body>
</html>
