<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Resume</title>
    <link rel="icon"  href="../static/images/190050110.jpg">
    <link rel="stylesheet" href="../static/stylesheets/resume.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1350801982957185"
     crossorigin="anonymous"></script>
  </head>
  <body>
  <div id="container-0f8d65c775d1f098fb3151e2ebdbadac"></div>
  <nav>
       <a href="/home" class="logo">Potluri Krishna Priyatham</a>
       <ul>
          <li><a href="/home" >Home</a></li>
          <li><a href="/about" >About</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/achievements" >Achievements</a></li>
           <li><a href="/contact" >Contact</a></li>
           <li><a href="/projects" >Projects</a></li>
           <li><a href="/blog" >Blog</a></li>
        </ul>
  </nav>
  <nav class="resume-menu">
      <ul>
          <li><a href="/resume"> resume </a></li>
          <li><a href="/video-resume">video resume</a></li>
      </ul>
  </nav>
  <div id="resume-block">
    <iframe  class="resume-frame" src="../static/pdfs/Krishna_Priyatham_Potluri_s_Resume.pdf"></iframe>
    </div>
  <footer>
        <p>All Rights Reserved</p>
        <br class="footer">
        <br class="footer">
        <p class="copyright">&copy; 2022 Potluri Krishna Priyatham</p>
    </footer>
  <script async="async" data-cfasync="false" src="//skidgleambrand.com/0f8d65c775d1f098fb3151e2ebdbadac/invoke.js"></script>
  <div id="container-0f8d65c775d1f098fb3151e2ebdbadac"></div>
  </body>
</html>