{# <!DOCTYPE html>#}
{# <html lang="en" dir="ltr">#}
{#   <head>#}
{#     <meta charset="utf-8">#}
{#     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
{#     <title>My Skills</title>#}
{#     <link rel="icon"  href="../static/images/achievements_pics/favicon.io.png">#}
{#     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
{#     <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>#}
{#     <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>#}
{#     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">#}
{#   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>#}
{#   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>#}
{#   <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>#}
{#   <!-- Google fonts-->#}
{#   <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />#}
{#   <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />#}
{##}
{#  </head>#}
{#  <body>#}
{#    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style ="background-color:white">#}
{#  <div class="container">#}
{#      <a class="navbar-brand js-scroll-trigger logo" href="/home" style="color:black">Krishna Priyatham Potluri</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars"></i></button>#}
{#      <div class="collapse navbar-collapse" id="navbarResponsive">#}
{#          <ul class="navbar-nav ml-auto">#}
{#              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/home">Home</a></li>#}
{#              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/home#about" id="proj">About</a></li>#}
{#              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/skills">Skills</a></li>#}
{#              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/resume">Resume</a></li>#}
{#              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/achievements">Acheivements</a></li>#}
{#              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/home#contact">Contact</a></li>#}
{#          </ul>#}
{#      </div>#}
{#  </div>#}
{#</nav>#}
{##}
{#      <section class="projects-section bg-black" id="projects">#}
{#      <div class="container">#}
{#       <div style="background-color:black;" class="row align-items-center mb-4 mb-lg-5">#}
{#                          <div class="col-xl-8 col-lg-7">#}
{#      						   <div id="myCanvasContainer">#}
{#            <div  class="text-center">#}
{#            <canvas width="350" height="350" id="myCanvas">#}
{#              <p>Anything in here will be replaced on browsers that support the canvas element</p>#}
{#            </canvas>#}
{#          </div>#}
{#          </div>#}
{#    <div data-toggle='tooltip' title='Google' id="weightTags">#}
{##}
{#  <ul>#}
{##}
{#  <li><a href='' class="skill">C</a></li>#}
{##}
{#  <li><a href='' class="skill">Java</a></li>#}
{##}
{#  <li><a href='' class="skill">OS</a></li>#}
{##}
{#  <li><a href='' class="skill">CPP</a></li>#}
{##}
{#  <li><a href='' class="skill">SQL</a></li>#}
{##}
{#  <li><a href='' class="skill">GIT</a></li>#}
{##}
{#  <li><a href='' class="skill">Linux</a></li>#}
{##}
{#  <li><a href='' class="skill">jQuery</a></li>#}
{##}
{#  <li><a href='' class="skill">HTML</a></li>#}
{##}
{#  <li><a href='' class="skill">Django</a></li>#}
{#  <li><a href='' class="skill">CSS</a></li>#}
{##}
{#  <li><a href='' class="skill">JavaScript</a></li>#}
{#  <li><a href='' class="skill">ML</a></li>#}
{##}
{#  <li><a href='' class="skill">Python</a></li>#}
{#  <li><a href='' class="skill">Node JS</a></li>#}
{#  <li><a href='' class="skill">React</a></li>#}
{##}
{#  <li><a href='' class="skill">SQLite3</a></li>#}
{##}
{#  <li><a href='' class="skill">Web Designing</a></li>#}
{##}
{#  <li><a href='' class="skill">Angular js</a></li>#}
{##}
{#  <li><a href='' class="skill">MongoDB</a></li>#}
{##}
{#  </ul>#}
{#</div>#}
{#      </div>#}
{#                <div class="col-xl-4 col-lg-5">#}
{#                    <div class="featured-text text-center text-lg-left">#}
{#                        <h4 class="text-white">These are all the technologies and tools I have worked on so far, I always put my complete efforts to have continous improvements and work every single day to upgrade my skills and knowledge towards technology  </h4>#}
{#                    </div>#}
{#                </div>#}
{#    </div>#}
{#      </div>#}
{#</section>#}
{##}
{#  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>#}
{#  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
{#  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}
{#   <script src="https://github.com/darcyclarke/Repo.js/blob/master/repo.min.js"></script>#}
{##}
{##}
{#  </body>#}
{#</html>#}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Me</title>
     <link rel="stylesheet" href="../static/stylesheets/styles.css">
      <link rel="icon"  href="../static/images/achievements_pics/favicon.io.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

   <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
  body{
       background-color: black;
       margin:0;
       padding:0;
      font-family: poppins, serif;
     }
     ul{
       list-style:none;
     }
     a{
       text-decoration:none;
     }
     section{
       width:0;
       height:0;
       background-image:url("../static/images/bg.jpg");
       background-reapeat:no-reapeat;
       background-size: cover;
     }
     nav {
       display: flex;
       justify-content: space-between;
       align-items:center;
       height:60px;
       background-color:#ffffff;
       box-shadow:2px 2px 12px rgba(0,0,0,0.2);
       padding:0 5%;
     }
     nav ul{
       display: flex;
     }
     nav ul li a{
       margin:30px;
         font-family: myriad pro regular, serif;
       color:#505050;
       font-size: 15px;
       font-weight:700;
     }
     .logo{
         font-family: RoadTest, serif;
       color:#000000;
       font-size: 22px;
     }
     .active{
       color:#2d2a2a;
       font-weight:bold;
     }
     </style>
  </head>
  <body>
    <nav>
       <a href="/home" class="logo">Krishna Priyatham Potluri</a>
       <ul>
          <li><a href="/home" >Home</a></li>
           <li><a href="/blog" >Blog</a></li>
          <li><a href="/home#about" >About</a></li>
          <li><a href="/skills" >Skills</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/achievements" >Achievements</a></li>
           <li><a href="/projects" >Projects</a></li>
          <li><a href="/contact" >Contact</a></li>
        </ul>
      </nav>
  <section class="projects-section bg-black" id="projects">
      <div class="container">
       <div style="background-color:black;" class="row align-items-center mb-4 mb-lg-5">
                          <div class="col-xl-8 col-lg-7">
      						   <div id="myCanvasContainer">
            <div  class="text-center">
            <canvas width="350" height="350" id="myCanvas">
              <p>Anything in here will be replaced on browsers that support the canvas element</p>
            </canvas>
          </div>
          </div>
    <div data-toggle='tooltip' title='Google' id="weightTags">

  <ul>

  <li><a href='' class="skill">C</a></li>

  <li><a href='' class="skill">Java</a></li>

  <li><a href='' class="skill">OS</a></li>

  <li><a href='' class="skill">CPP</a></li>

  <li><a href='' class="skill">SQL</a></li>

  <li><a href='' class="skill">GIT</a></li>

  <li><a href='' class="skill">Linux</a></li>

  <li><a href='' class="skill">jQuery</a></li>

  <li><a href='' class="skill">HTML</a></li>

  <li><a href='' class="skill">Django</a></li>
  <li><a href='' class="skill">CSS</a></li>

  <li><a href='' class="skill">JavaScript</a></li>
  <li><a href='' class="skill">ML</a></li>

  <li><a href='' class="skill">Python</a></li>
  <li><a href='' class="skill">Node JS</a></li>
  <li><a href='' class="skill">React</a></li>

  <li><a href='' class="skill">SQLite3</a></li>

  <li><a href='' class="skill">Web Designing</a></li>

  <li><a href='' class="skill">Angular js</a></li>

  <li><a href='' class="skill">MongoDB</a></li>

  </ul>
</div>
      </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4 class="text-white">These are all the technologies and tools I have worked on so far, I always put my complete efforts to have continous improvements and work every single day to upgrade my skills and knowledge towards technology  </h4>
                    </div>
                </div>
    </div>
      </div>
</section>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script src="https://github.com/darcyclarke/Repo.js/blob/master/repo.min.js"></script>


  </body>
</html>
